@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F203E;
  --foreground: #fff;
  --accent: #98FF98;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, 'Arial', sans-serif;
  box-sizing: border-box;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
  letter-spacing: 0.05rem;
  line-height: 120%;
}

input {
  appearance: none;
  background: none;
  outline: none;
  box-shadow: none;
}

pre>code {
  display: block;
  background: #030303;
  border-radius: 0.33em;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}