@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F203E;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, 'Arial', sans-serif;
  box-sizing: border-box;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  appearance: none;
  background: none;
  outline: none;
  box-shadow: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}